body {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #ef7455, #e84c7e, #32a6d6, #23eeab);
}

a {
    color: #ffffff;
}